<head>
  <meta charset="utf-8" />
  <title>Unipay | 관리자 페이지</title>
  <meta name="description" content="Responsive, Bootstrap, BS4" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="icon" href="/static/common/assets/images/favicons.png" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="/static/common/assets/images/logo.svg">
  <link rel="shortcut icon" sizes="196x196" href="/static/common/assets/images/logo.svg">
  <link rel="stylesheet" href="/static/common/libs/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/common/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/common/assets/css/theme/primary.css" type="text/css" />
  <link rel="stylesheet" href="/static/common/assets/css/app.css" type="text/css" />
  <link rel="stylesheet" href="/static/common/assets/css/style.css" type="text/css" />
</head>
