<header class="app-header theme">
	<div class="navbar navbar-expand-lg" style='background-color: #ffc107'>
	  <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
	    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"/></svg>
	  </a>
  	<a href="/index" class="navbar-brand">
  		<span class="hidden-folded d-inline logo-title">Unionpay Admin</span>
  	</a>
	  <ul class="nav flex-row order-lg-2">
	    <li class="dropdown d-flex align-items-center">
	        <span class="avatar w-32">
	          <img src="/static/common/assets/images/a2.jpg" alt="...">
	        </span>
					<div class='info-box'>
						<div class='info-box-top'>
							운영자
						</div>
						<div class='info-box-bottom'>
							서비스 관리자
						</div>
					</div>
					<div class='btn-logout'>
						로그아웃
					</div>
	    </li>
	    <li class="d-lg-none d-flex align-items-center">
	      <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler">
	        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512"><path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"/></svg>
	      </a>
	    </li>
	  </ul>
		<div class="collapse navbar-collapse  order-lg-1" id="navbarToggler">
	  </div>

	</div>
</header>
