<div class="app" id="app">
	<div id="aside" class="app-aside fade box-shadow-x nav-expand white" aria-hidden="true">
		<div class="sidenav modal-dialog dk">
		  <div class="navbar d-lg-none">
		    <a href="../index.html" class="navbar-brand">
		    	<svg viewBox="0 0 24 24" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
		    	    <path d="M0 0h24v24H0z" fill="none"/>
		    	    <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z" fill="#fff" class="fill-theme"/>
		    	</svg>
		    	<img src="/static/common/assets/images/logo.png" alt="." class="hide">
		    	<span class="hidden-folded d-inline">Unionpay Admin</span>
		    </a>
		  </div>

		  <div class="flex hide-scroll">
		      <div class="scroll">
		        <div class="nav-stacked nav-active-theme" data-nav>
		          <ul class="nav ">

		              <li class="nav-header">
		                <span class="text-xs hidden-folded top-menu-deco">메뉴</span>
		              </li>

									<!-- 펼침 메뉴 시작 -->
		              <li>
		                <a>
		                  <span class="nav-caret">
		                    <i class="fa fa-caret-down"></i>
		                  </span>
		                  <span class="nav-icon">
	                    	<i class="fa fa-gear"></i>
		                  </span>
		                  <span class="nav-text">기본설정</span>
		                </a>
		                <ul class="nav-sub">
		                  <li>
		                    <a href="#" onclick="location.href='/sample2'">
		                      <span class="nav-text">비용관리</span>
		                    </a>
		                  </li>
		                  <li>
		                    <a href="layout.sidenav.html">
		                      <span class="nav-text">코드관리</span>
		                    </a>
		                  </li>
		                </ul>
		              </li>
									<!-- 펼침 메뉴 끝 -->

									<!-- 단일 메뉴 시작 -->
		              <li>
		                <a href="#" onclick="location.href='/sample1'">
		                  <span class="nav-icon">
		                    <i class="fa fa-child"></i>
		                  </span>
		                  <span class="nav-text">회원관리</span>
		                </a>
		              </li>
									<!-- 단일 메뉴 끝 -->

									<!-- 단일 메뉴 시작 -->
									<li>
										<a href="#" onclick="location.href='/sample1'">
											<span class="nav-icon">
												<i class="fa fa-sitemap"></i>
											</span>
											<span class="nav-text">가맹점관리</span>
										</a>
									</li>
									<!-- 단일 메뉴 끝 -->

									<!-- 단일 메뉴 시작 -->
									<li>
										<a href="#" onclick="location.href='/sample1'">
											<span class="nav-icon">
												<i class="fa fa-cube"></i>
											</span>
											<span class="nav-text">지점관리</span>
										</a>
									</li>
									<!-- 단일 메뉴 끝 -->

									<!-- 단일 메뉴 시작 -->
									<li>
										<a href="#" onclick="location.href='/sample1'">
											<span class="nav-icon">
												<i class="fa fa-truck"></i>
											</span>
											<span class="nav-text">상품관리</span>
										</a>
									</li>
									<!-- 단일 메뉴 끝 -->

									<!-- 단일 메뉴 시작 -->
									<li>
										<a href="#" onclick="location.href='/sample1'">
											<span class="nav-icon">
												<i class="fa fa-bar-chart"></i>
											</span>
											<span class="nav-text">공지관리</span>
										</a>
									</li>
									<!-- 단일 메뉴 끝 -->
		          </ul>
		        </div>
					</div>
				<div class="no-shrink bottom-logout">
					<i class="fa fa-sign-out bottom-logout-icon"></i>로그아웃
				</div>
		  </div>

		</div>
	</div>
